/node_modules
/get_access_token/*
/public/hot
/public/storage
/public/images/parts/*
/public
/storage/*.key
/storage/images/
/storage/app/orders/
/parser/*
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/config/*